<!--
  Generated template for the Chase component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-content>
  <!--<div>
    <button [@heroState]="state" ion-button block outline (click)="ani()">chase</button>
  </div>-->
  <ion-item *ngFor="let item of monstersArr">
    <img src="{{item.imgSrc}}" alt="pics">
  </ion-item>
  <div class="ball-container" [@parentMove]="moveState">
      <div class="ball" [@moveForward]="moveState" [style.left]="left + 'px'"></div>
  </div>
  <div class="catchButton" [style.display]="catchBtn">
    <button ion-button block outline full (click)="catch()">
      <ion-icon name="ios-baseball-outline">{{result}}</ion-icon>
    </button>    
  </div>
  <div class="againButton" [style.display]="againBtn">
    <button ion-button block outline full (click)="playAgain()">again</button>
  </div>
</ion-content>
